body{
  width: 300px;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1{
  margin: 0;
}
button{
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
}
#contextContainer {
  margin-top: 20px;
}

#pageUrl {
  font-size: 12px;
  word-break: break-all;
}

#pageText {
  max-height: 250px;
  overflow-y: auto;
  white-space: pre-wrap;
  font-size: 12px;
}
